<nav class="main-nav text-right" role="navigation">
    <ul>
    {{! Home link }}
    <li><a class="" href="{{@blog.url}}/">Home</a></li>

    {{! Add static pages here. Make sure you create these static pages using Ghost's interface }}
    <li><a href="{{@blog.url}}/tag/web/">Web Apps</a></li>
    <li><a href="{{@blog.url}}/tag/games/">Games</a></li>
		<li><a href="{{@blog.url}}/tag/utilites/">Utilities</a></li>
		<li><a href="https://github.com/cynical89" target="_blank" title="GitHub"><span class="icon icon-github-circled"></span> GitHub</a></li>
		<li><a href="http://stackoverflow.com/cv/amichelizzi" target="_blank" title="resume"><span class="icon icon-doc-text"></span> Resume</a></li>
		<li><a href="mailto:cynical89@gmail.com" title="cynical89@gmail.com" target="_blank"><span class="icon icon-mail-alt"></span> Email me</a></li>

    </ul>
</nav>
