<nav class="main-nav text-right" role="navigation">
    <ul>
    {{! Home link }}
    <li><a class="" href="{{@blog.url}}/">Home</a></li>

    {{! Add static pages here. Make sure you create these static pages using Ghost's interface }}
    <li><a href="{{@blog.url}}/tag/web/">Web Apps</a></li>
    <li><a href="{{@blog.url}}/tag/games/">Games</a></li>
		<li><a href="{{@blog.url}}/tag/utilites/">Utilities</a></li>
		<li><span class="icon icon-github-circled"></span><a href="https://github.com/cynical89" target="_blank">GitHub</a></li>
		<li><span class="icon icon-doc-text"></span><a href="http://stackoverflow.com/cv/amichelizzi">Resume</a></li>

    </ul>
</nav>
