<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{get_name}}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class= "nav navbar-nav">
				<li><a class="nav-link" href="/web">Web</a></li>
				<li><a class="nav-link" href="/game">Games</a></li>
				<li><a class="nav-link" href="/utility">Utilities</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a id="github" style="visibility:hidden" class="btn btn-block btn-social btn-sm btn-github" href="https://github.com/cynical89" target="_blank">
					<span class="fa fa-github"></span>
					GitHub</a></li>
					<li><a id="facebook" style="visibility:hidden" class="btn btn-block btn-social btn-sm btn-facebook" href="https://www.facebook.com/tony.michelizzi" target="_blank">
					<span class="fa fa-facebook"></span>
					Facebook</a></li>
					<li><a id="gmail" style="visibility:hidden" class="btn btn-block btn-social btn-sm btn-google" data-clipboard-text="cynical89@gmail.com"
						data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copied to clipboard!">
						<span class="fa fa-google"></span>
						cynical89@gmail.com</a></li>
			</ul>
		</div>
	</div>
</nav>
