<div class="container" id="game">

	<div class="jumbotron">
		<h2>Games!</h2>
		<hr>
		<p class="lead">
			Games in here use a couple different technologies, the common are <class class="text-info">C#</class>, and <class class="text-info">JavaScript!</class>
		</p><hr>
	</div>

	<div class="slides">

	</div>

	</div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Cynical studios 2016</p>
      </footer>

    </div>
