<div class="container">
	<br />
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Cynical Studios</h1>
        <p class="lead">My name is Anthony. I'm a budding software developer trying to make my way. I currently use <class class="text-info">C#</class> to make windows apps and utilities, <class class="text-info">C#</class>
					and <class class="text-info">Unity3D</class> for most games, and <class class="text-info">JavaScript</class> and <class class="text-info">node.js</class> for my web applications.</p>
					<br />
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>content1</h2>
          <p class="text-danger">some text</p>
          <p>some more text</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>content2</h2>
          <p>some more text</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>content3</h2>
          <p>some more text</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Cynical studios 2016</p>
      </footer>

    </div> <!-- /container -->
