
	<div class="container">
		<br /><br />
		<br /><br />
	</div>


<div class="container">

	<div class="row">



		<div class="col-sm-8 blog-main">

			<div class="blog-post">
				<h3 class="blog-post-title">Cynical Studios</h3>
				<hr>
				<p>My name is Anthony. I'm a budding software developer trying to make my way. I currently use <class class="text-info">C#</class> to make windows apps and utilities, <class class="text-info">C#</class>
					and <class class="text-info">Unity3D</class> for most games, and <class class="text-info">JavaScript</class> and <class class="text-info">node.js</class> for my web applications.
					First I guess I'll start this off by saying that this website was done with node.js. I used <class class="text-info">koa</class>, <class class="text-info">hbs</class>, <class class="text-info">bootstrap</class>, and <class class="text-info">font-awesome.</class>
					The initial boilerplate was snollygolly's <a href="https://github.com/snollygolly/koa-starter">koa-starter</a>. I had built this website as a gathering for my
					projects as they have seemed to be multiplying fairly rapidly. I wanted a nice place to showcase them and allow others to view them, and the code. (when available)</p>
					<hr>
				<p>This portfolio for now is a little bare. I know, I know, after just bragging about the projects, it's bare. I will be working on more formatting of the portfolio
					better suit what I have in mind, as well as making my pages for showing off the content. As you may have noticed by the nav bar, I'm going to separate all projects
					into 3 categories. Web will contain all the web apps/games i have been working on. An example of this is <a href="https://github.com/snollygolly/open-hearts">Open Hearts!</a>
					Utilities will contain all my windows applications and other useful things, like <a href="https://github.com/cynical89/PokemonGO-Map-EasyStart">PokemonGO Map App</a>.
					Last but not least, Games! I will throw all my Games, partial and finished into this category. Look out, <a href="http://thoucurator.com">The Last Stand</a>, I'm talking about you.</p>
			</div><!-- /.blog-post -->

		</div><!-- /.blog-main -->

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><h4>Recent Projects</h4></h3>
				</div>
				<div class="panel-body">
					<hr><br />
					<ol class="list-unstyled">
						<li><a href="https://github.com/snollygolly/open-hearts">Open Hearts!</a></li>
						<li><a href="https://github.com/cynical89/PokemonGO-Map-EasyStart">PokemonGO Map App</a></li>
						<li><a href="https://github.com/cynical89/InvProject">Inventory App</a></li>
						<li><a href="http://thoucurator.com">The Last Stand</a></li>
					</ol><br />
				<hr>
					<h4 class="whiteh4">Social Media</h4><br />
					<a class="btn btn-block btn-social btn-sm btn-github" href="https://github.com/cynical89">
						<span class="fa fa-github"></span>
						GitHub</a>
					<a class="btn btn-block btn-social btn-sm btn-facebook" href="https://www.facebook.com/tony.michelizzi">
						<span class="fa fa-facebook"></span>
						Facebook</a>
						<a class="btn btn-block btn-social btn-sm btn-google" href="mailto:cynical89@gmail.com">
							<span class="fa fa-google"></span>
							cynical89@gmail.com</a>
			</div>
		</div><!-- /.blog-sidebar -->

	</div><!-- /.row -->

</div><!-- /.container -->
