<div class="blog-header">
	<div class="container">
		<h1 class="blog-title">{{{name}}}</h1>
	</div>
</div>

<div class="container">

	<div class="row">

		<div class="col-sm-8 blog-main">

			<div class="blog-post">
				<h2 class="blog-post-title">Portfolio is live!</h2>
				<hr>
				<p>First I guess I'll start this off by saying that this website was done with node.js. I used <strong>koa, hbs, bootstrap,</strong> and <strong>font-awesome.</strong>
					The initial boilerplate was snollygolly's <a href="https://github.com/snollygolly/koa-starter">koa-starter</a>.I had built this website as a gathering for my
					projects as they have seemed to be multiplying fairly rapidly. I wanted a nice place to showcase them and allow others to view them, and the code. (when available)</p>
					<hr>
				<p>This portfolio for now is a little bare. I know, I know, after just bragging about the projects, it's bare. I will be working on more formatting of the portfolio
					better suit what I have in mind, as well as making my pages for showing off the content. As you may have noticed by the nav bar, I'm going to separate all projects
					into 3 categories. Web will contain all the web apps/games i have been working on. An example of this is <a href="https://github.com/snollygolly/open-hearts">Open Hearts!</a>
					Utilities will contain all my windows applications and other useful things, like <a href="https://github.com/cynical89/PokemonGO-Map-EasyStart">PokemonGO Map App</a>.
					Last but not least, Games! I will throw all my Games, partial and finished into this category. Look out, <a href="http://thoucurator.com">The Last Stand</a>, I'm talking about you.
				</p>
			</div><!-- /.blog-post -->

		</div><!-- /.blog-main -->

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module sidebar-module-inset">
				<h4>About</h4>
				<p>My name is Anthony. I'm a budding software developer trying to make my way. I currently use <strong>C#</strong> to make windows apps and utilities, <strong>C#</strong> and <strong>Unity3D</strong> for most games, and <strong>JavaScript</strong> and <strong>node.js</strong> for my web applications.<br/> You can contact me at cynical89@gmail.com.</p>
			<div class="sidebar-module">
				<h4>Recent Projects</h4>
				<ol class="list-unstyled">
					<li><a href="https://github.com/snollygolly/open-hearts">Open Hearts!</a></li>
					<li><a href="https://github.com/cynical89/PokemonGO-Map-EasyStart">PokemonGO Map App</a></li>
					<li><a href="https://github.com/cynical89/InvProject">Inventory App</a></li>
					<li><a href="http://thoucurator.com">The Last Stand</a></li>
				</ol>
			</div>
			<div class="sidebar-module">
				<h4>Social Media</h4>
				<ol class="list-unstyled">
					<li><a href="https://github.com/cynical89">GitHub</a></li>
					<li><a href="https://www.facebook.com/tony.michelizzi">Facebook</a></li>
				</ol>
			</div>
		</div><!-- /.sidebar modular -->
		</div><!-- /.blog-sidebar -->

	</div><!-- /.row -->

</div><!-- /.container -->
