<div class="container">
	<br />
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Cynical Studios</h1>
				<hr>
        <p class="lead">My name is Anthony. I'm a budding software developer trying to make my way. I currently use <class class="text-info">C#</class> to make windows apps and utilities, <class class="text-info">C#</class>
					and <class class="text-info">Unity3D</class> for most games, and <class class="text-info">JavaScript</class> and <class class="text-info">node.js</class> for my web applications.</p>
					<br />
					<p> Below I have linked a couple of my more recent projects, with a small description. Follow the navigation links at the top to find more projects</p>
					<hr>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h3>Open Hearts!</h3>
					<hr>
          <p>Open hearts is an open source game of hearts, played in the browser with friends! It is currently being developed with <class class="text-info">Node.js</class>,
						<class class="text-info">Redis</class>, and <class class="text-info">CouchDB</class></p><hr>
          <p><a class="btn btn-block btn-social btn-sm btn-github"
						href="https://github.com/snollygolly/open-hearts" target="_blank"><span class="fa fa-github"></span>
						Check out Open Hearts on GitHub!</a></p>
        </div>
        <div class="col-lg-4">
          <h3>PokemonGO Map Easy Start</h3>
					<hr>
          <p>PokemonGO Map Easy Start is a project that lets you easily start the python server for PokemonGO-Map, after you complete installation.
					Feed it your credentials and hit start, the app does the work for you. This was developed in <class class="text-info">C#</class>, and <class class="text-info">WPF</class>!</p>
					<hr>
          <p><a class="btn btn-block btn-social btn-sm btn-github"
						href="https://github.com/cynical89/PokemonGO-Map-EasyStart" target="_blank"><span class="fa fa-github"></span>
						Check out the Easy Start on Github!</a></p>
       </div>
        <div class="col-lg-4">
          <h3>The Last Stand</h3>
					<hr>
          <p>The Last Stand is a 3D top down multiplayer game, currently being developed for <a href="http://www.thoucurator.com" target="_blank">ThouCurator</a>. This
					game is being created using a combination of <class class="text-info">C#</class>, and <class class="text-info">Unity3D</class></p>
					<hr>
          <p><a class="btn btn-block btn-sm btn-github"
						href="http://www.thoucurator.com" target="_blank">
						Check out the Last Stand on ThouCurator</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Cynical studios 2016</p>
      </footer>

    </div> <!-- /container -->
