<div class="container" id="utility">

	<div class="jumbotron">
		<h2>Utilities!</h2>
		<hr>
		<p class="lead">
			These utilities mostly take advantage of <class class="text-info">C#</class>, <class class="text-info">.Net</class>, and some <class class="text-info">SQL</class>!
		</p><hr>
	</div>

	<div class="slides">

	</div>

	</div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Cynical studios 2016</p>
      </footer>

    </div>
