<div class="container" id="web">

	<div class="jumbotron">
		<h2>Web Applications!</h2>
		<hr>
		<p class="lead">
			This is the placeholder for all my web applications! They are developed with <class class="text-info">Node.js</class>, with a variety of frameworks!
		</p><hr>
	</div>

	<div class="slides">

	</div>

	</div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Cynical studios 2016</p>
      </footer>

    </div>
