html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  padding-top: 50px;
}
.template-heading {
  padding: 40px 15px;
}
.col-sm-3 {
	text-align: center;
}
.whiteh4 {
	color: #fff;
	text-align: center;
}
.slick-dots li button:before {
	font-sizeL 16px;
	color: white;
}
.slick-dots li.slick-active button:before {
	color:white;
}
.container {
	text-align: center;
}
